<connectionStrings>
  <!--<add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-b4a1d784-7535-41ac-ad31-f0f7d1793f2e;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-b4a1d784-7535-41ac-ad31-f0f7d1793f2e.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />-->
  <add name="EatIn" 
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>

  <add name="DefaultConnection" 
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
